{%- if section.settings.custom_background_color != blank -%}
  <style>
    .footer.color-{{ section.settings.color_scheme }} {
      background-color: {{ section.settings.custom_background_color }};
      --color-background: {{ section.settings.custom_background_color.red }}, {{ section.settings.custom_background_color.green }}, {{ section.settings.custom_background_color.blue }};
    }
  </style>
{%- endif -%}
<link rel="stylesheet" href="{{ 'component-footer.css' | asset_url }}" media="print" onload="this.media='all'">

<footer class="footer color-{{ section.settings.color_scheme }} gradient">
  <div class="footer__content page-width">
    <div class="footer__content-top">
      <div class="footer__column footer__column--logo">
        <img src="{{ 'pituco-logo.png' | asset_url }}" alt="{{ shop.name }}" class="footer__logo">
        <ul class="footer__social list-unstyled" role="list">
          {%- if settings.social_facebook_link != blank -%}
            <li class="list-social__item">
              <a href="{{ settings.social_facebook_link }}" class="link">
                {%- render 'icon-facebook' -%}
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_instagram_link != blank -%}
            <li class="list-social__item">
              <a href="{{ settings.social_instagram_link }}" class="link">
                {%- render 'icon-instagram' -%}
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_tiktok_link != blank -%}
            <li class="list-social__item">
              <a href="{{ settings.social_tiktok_link }}" class="link">
                {%- render 'icon-tiktok' -%}
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_youtube_link != blank -%}
            <li class="list-social__item">
              <a href="{{ settings.social_youtube_link }}" class="link">
                {%- render 'icon-youtube' -%}
              </a>
            </li>
          {%- endif -%}
        </ul>
      </div>

      <div class="footer__column">
        <h3 class="footer__heading">KATALOG</h3>
        <ul class="footer__list list-unstyled" role="list">
          <li><a href="/collections/all" class="footer__link">Tüm Ürünler</a></li>
          <li><a href="/collections/yeni-gelenler" class="footer__link">Yeni Gelenler</a></li>
          <li><a href="/collections/cok-satanlar" class="footer__link">Çok Satanlar</a></li>
          <li><a href="/hediyelikposterler" class="footer__link">Hediyelik Posterler</a></li>
        </ul>
      </div>

      <div class="footer__column">
        <h3 class="footer__heading">BİLGİ</h3>
        <ul class="footer__list list-unstyled" role="list">
          <li><a href="/pages/hakkimizda" class="footer__link">Hakkımızda</a></li>
          <li><a href="/pages/iletisim" class="footer__link">İletişim</a></li>
          <li><a href="/pages/sss" class="footer__link">Sıkça Sorulan Sorular</a></li>
          <li><a href="/pages/kargo-odeme" class="footer__link">Kargo & Ödeme</a></li>
        </ul>
      </div>

      <div class="footer__column">
        <h3 class="footer__heading">YASAL POLİTİKALAR</h3>
        <ul class="footer__list list-unstyled" role="list">
          <li><a href="/policies/privacy-policy" class="footer__link">Gizlilik Politikası</a></li>
          <li><a href="/policies/terms-of-service" class="footer__link">Kullanım Koşulları</a></li>
          <li><a href="/policies/refund-policy" class="footer__link">İade Politikası</a></li>
          <li><a href="/policies/shipping-policy" class="footer__link">Kargo Politikası</a></li>
        </ul>
      </div>
    </div>

    <div class="footer__content-bottom">
      <div class="footer__payment">
        <span class="footer__payment-text">Ödeme Yöntemleri:</span>
        <div class="footer__payment-icons">
          <svg class="icon icon--payment" viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg"><title>Visa</title><path fill="#1434CB" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"/><path fill="#fff" d="M15.9 16.3l1.9-11.6h3l-1.9 11.6h-3zm10.6-11.4c-.6-.2-1.5-.5-2.6-.5-2.9 0-4.9 1.5-4.9 3.7 0 1.6 1.5 2.5 2.6 3 1.1.6 1.5.9 1.5 1.4 0 .7-.9 1-1.7 1-1.1 0-1.7-.2-2.7-.6l-.4-.2-.4 2.4c.7.3 2 .6 3.3.6 3.1 0 5.1-1.5 5.1-3.8 0-1.3-.8-2.2-2.5-3-1-.5-1.6-.9-1.6-1.4 0-.5.5-.9 1.7-.9.9 0 1.6.2 2.1.4l.3.1.4-2.2zm5.5-1.2h-2.3c-.7 0-1.3.2-1.6.9l-4.6 11h3.1s.5-1.4.6-1.7h3.7c.1.4.3 1.7.3 1.7h2.7l-2.3-11.9h.4zm-3.6 7.7c.2-.6 1.2-3.3 1.2-3.3s.3-.7.4-1.1l.2 1.1s.6 2.8.7 3.4h-2.5v-.1zM13.3 4.7l-3 8.1-.3-1.6c-.5-1.8-2.2-3.7-4.1-4.7l2.7 10.1h3.1l4.7-11.9h-3.1z"/><path fill="#FAA61A" d="M6.6 4.7H1.1L1 5.1c3.7.9 6.1 3.1 7.1 5.7l-1-5.2c-.2-.7-.7-.9-1.5-.9z"/></svg>
          <svg class="icon icon--payment" viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg"><title>Mastercard</title><path fill="#000" opacity=".07" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"/><path fill="#fff" d="M35 1c1.1 0 2 .9 2 2v18c0 1.1-.9 2-2 2H3c-1.1 0-2-.9-2-2V3c0-1.1.9-2 2-2h32"/><circle fill="#EB001B" cx="15" cy="12" r="7"/><circle fill="#F79E1B" cx="23" cy="12" r="7"/><path fill="#FF5F00" d="M19 6.5c-1.2 1.3-2 3.1-2 5s.8 3.7 2 5c1.2-1.3 2-3.1 2-5s-.8-3.7-2-5z"/></svg>
          <svg class="icon icon--payment" viewBox="0 0 38 24" xmlns="http://www.w3.org/2000/svg"><title>American Express</title><path fill="#006FCF" d="M35 0H3C1.3 0 0 1.3 0 3v18c0 1.7 1.4 3 3 3h32c1.7 0 3-1.3 3-3V3c0-1.7-1.4-3-3-3z"/><path fill="#fff" d="M8.9 11.4l.7-1.7.7 1.7h-1.4zm14.1-2.4h-2.2v.8h2.1v1.4h-2.1v.9h2.2v1.5h-4v-6h4v1.4zm-6.9 0h-1.9v.8h1.9v1.4h-1.9v.9h1.9v1.5h-3.7v-6h3.7v1.4zm-6.3 3.9l1.2-3 1.2 3h-2.4zm13.8-3.9v4.5h-1.6l-1.9-3v3h-1.8V9h1.7l1.9 3V9h1.7zm-13.5 0l-2.4 6h-2l-2.4-6h2l1.4 3.7L8.1 9h2z"/></svg>
        </div>
      </div>
      <div class="footer__copyright">
        <p>&copy; {{ 'now' | date: "%Y" }} {{ shop.name }}. Tüm hakları saklıdır.</p>
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color",
      "id": "custom_background_color",
      "label": "Custom Background Color",
      "default": "#f4f4ec"
    }
  ]
}
{% endschema %}
